<ion-header>
  <ion-toolbar color="light">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center font-weight-bold">
      SUPPLY RECORD
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="light"> 

  <ion-segment value="monthly" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="monthly">
      <ion-label>Monthly</ion-label>
    </ion-segment-button>
    <ion-segment-button value="daily">
      <ion-label>Daily</ion-label>
    </ion-segment-button>
  </ion-segment>

 <ion-grid fixed>
   <ion-row class="justify-content-center">
     <ion-col size="6" *ngIf="segment=='monthly'">
      <ngb-datepicker  (navigate)=" thisMonthRecord($event)" 
      class="datepicker-only-month-select"></ngb-datepicker>
     </ion-col>
     <ion-col size="6" *ngIf="segment=='daily'">
    <ngb-datepicker (dateSelect)="onDateSelect($event)"></ngb-datepicker>

     </ion-col>
   </ion-row>
 </ion-grid>
   

    <ion-card class="p-1 aqua-gradient tezt-white">
      <!-- select filter -->
      <ion-item color="light" >
        <ion-label color="dark" class="text-center">select outlet</ion-label>
        <select (change)="selectOutlet($event)"  >
          <option value="none" selected disabled hidden> 
            SELECT OUTLET 
        </option> 
          <option *ngFor="let item of allOutlet" [value]="item.code">{{item.code}}</option>
         
        </select>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-row>
        <ion-title>{{selectedOutlet?.outlet}} </ion-title>
      </ion-row>
      <ion-row>
        <ion-title>{{selectedOutlet?.location}} </ion-title>
      </ion-row>
    </ion-card>

     <ion-card class="font-weight-bold primary-color-dark text-white" >
      <ion-title class="text-center ">SUPPLY</ion-title>
      <ion-row >
        <ion-col >
          <small> P</small>
          <div>{{total_p}} </div>
        </ion-col>
        <ion-col>
          <small> O</small>
          <div>{{total_o}} </div>
        </ion-col>
        <ion-col>
          <small> W</small>
          <div>{{total_w}} </div>
        </ion-col>
        <ion-col>
          <small> T</small>
          <div>{{total_t}} </div>
        </ion-col>
        <ion-col>
          <small> C</small>
          <div>{{total_c}} </div>
        </ion-col>
        <ion-col>
          <small> S</small>
          <div>{{total_s}} </div>
        </ion-col>
        <ion-col>
          <small> Slg</small>
          <div>{{total_slg}} </div>
        </ion-col>
        <ion-col>
          <small>total</small>
          <div>{{total_p + total_o + total_w + total_c + total_t + total_s + total_slg}} </div>
        </ion-col>
      </ion-row>
      <div class="font-weight-bold"> ₦ {{total_p * rate_p + total_o * rate_o + total_w *rate_w + total_t *rate_t 
        +total_c * rate_c + total_s* rate_s + total_slg * rate_slg }} </div>
    </ion-card>

      <!-- samples -->
      <ion-card class="font-weight-bold primary-color-dark text-white">
        <ion-title class="text-center ">SAMPLES</ion-title>
        <ion-row >
          <ion-col >
            <div> P</div>
            <div>{{p_sample}} </div>
          </ion-col>
          <ion-col>
            <div> O</div>
            <div>{{o_sample}} </div>
          </ion-col>
          <ion-col>
            <div> W</div>
            <div>{{w_sample}} </div>
          </ion-col>
          <ion-col>
            <div> T</div>
            <div>{{t_sample}} </div>
          </ion-col>
          <ion-col>
            <div> C</div>
            <div>{{c_sample}} </div>
          </ion-col>
          <ion-col>
            <div> S</div>
            <div>{{s_sample}} </div>
          </ion-col>
          <ion-col>
            <div> Slg</div>
            <div>{{slg_sample}} </div>
          </ion-col>
          <ion-col>
            <div>total</div>
            <div>{{p_sample + o_sample + w_sample + t_sample + c_sample + s_sample + slg_sample}} </div>
          </ion-col>
        </ion-row>
        <div class="font-weight-bold"> ₦ {{p_sample * rate_p + o_sample * rate_o + w_sample *rate_w + t_sample *rate_t 
          +c_sample *rate_c + s_sample*rate_s + slg_sample * rate_slg }} </div>
      </ion-card>
   

       <!-- exchnge-->
       <ion-card class="font-weight-bold primary-color-dark text-white">
        <ion-title class="text-center ">EXCHANGE</ion-title>
        <ion-row >
          <ion-col >
            <div> P</div>
            <div>{{p_exchange}} </div>
          </ion-col>
          <ion-col>
            <div> O</div>
            <div>{{o_exchange}} </div>
          </ion-col>
          <ion-col>
            <div> W</div>
            <div>{{w_exchange}} </div>
          </ion-col>
          <ion-col>
            <div> T</div>
            <div>{{t_exchange}} </div>
          </ion-col>
          <ion-col>
            <div> C</div>
            <div>{{c_exchange}} </div>
          </ion-col>
          <ion-col>
            <div> S</div>
            <div>{{s_exchange}} </div>
          </ion-col>
          <ion-col>
            <div> Slg</div>
            <div>{{slg_exchange}} </div>
          </ion-col>
          <ion-col>
            <div>total</div>
            <div>{{p_exchange + o_exchange + w_exchange + t_exchange 
              + c_exchange + s_exchange + slg_exchange}} </div>
          </ion-col>
        </ion-row>
        <div class="font-weight-bold"> ₦ {{p_exchange * rate_p + o_exchange * rate_o + w_exchange *rate_w + t_exchange *rate_t 
          +c_exchange *rate_c + s_exchange*rate_s + slg_exchange * rate_slg }} </div>
      </ion-card>
   

      
       <!-- exchnge-->
       <ion-card class="font-weight-bold primary-color-dark text-white" >
        <ion-title class="text-center ">RETURN</ion-title>
        <ion-row >
          <ion-col >
            <div> P</div>
            <div>{{p_return}} </div>
          </ion-col>
          <ion-col>
            <div> O</div>
            <div>{{o_return}} </div>
          </ion-col>
          <ion-col>
            <div> W</div>
            <div>{{w_return}} </div>
          </ion-col>
          <ion-col>
            <div> T</div>
            <div>{{t_return}} </div>
          </ion-col>
          <ion-col>
            <div> C</div>
            <div>{{c_return}} </div>
          </ion-col>
          <ion-col>
            <div> S</div>
            <div>{{s_return}} </div>
          </ion-col>
          <ion-col>
            <div> Slg</div>
            <div>{{slg_return}} </div>
          </ion-col>
          <ion-col>
            <div>total</div>
            <div>{{p_return + o_return + w_return + t_return 
              + c_return + s_return + slg_return}} </div>
          </ion-col>
        </ion-row>
        <div class="font-weight-bold"> ₦ {{p_return * rate_p + o_return * rate_o + w_return *rate_w + t_return *rate_t 
          +c_return *rate_c + s_return*rate_s + slg_return * rate_slg }} </div>
      </ion-card>

        <!-- loading.. -->
<!-- <div *ngIf="loading" class="spinner">
  <div class="loader"></div>
</div> -->
  </ion-content>
