<ion-header>
  <ion-toolbar color="dark">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center font-weight-bold">
      STAFF
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-fab *ngIf="showList"
     vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addStaff()" [disabled]="userService.getUserRole() =='ADMIN' "   color="success">
      <ion-icon  name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="showform" (click)="cancelForm()"  vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button   color="danger">
      <ion-icon  name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- staff list  -->
    <div *ngIf="showList" class="pt-5">

         <!-- search by name -->
<ion-card>
  <ion-row>
    <ion-item>
    <ion-input name="search" #search placeholder="search by name"
    (keydown.enter)="searchStaff()"  [(ngModel)]="searchModel.search"></ion-input> 
    <ion-button color="success" size="medium" (click)="searchStaff()" [disabled]="!search.value">
      <ion-icon name="search" size="large"></ion-icon>
    </ion-button> 
  </ion-item>
  </ion-row>
</ion-card>

      <ion-col>
        <!-- select options -->
        <ion-card>
          <ion-item color="light">
          <ion-label class="text-center">select by department</ion-label>
          <ion-select select="success" interface="popover" name="accountType"
           (ngModelChange)="selectStaffDepartment($event)"  [(ngModel)]="model.department"
         >
         <ion-select-option  value="ADMINISTRATOR">ADMINISTRATOR</ion-select-option>
         <ion-select-option  value="ADMIN-ASSIST">ADMIN-ASSIST</ion-select-option>
         <ion-select-option  value="TECHNICAL">TECHNICAL</ion-select-option>
         <ion-select-option  value="PRODUCTION">PRODUCTION</ion-select-option>
         <ion-select-option  value="CLEANER">CLEANER</ion-select-option>
         <ion-select-option  value="DRIVER">DRIVER</ion-select-option>
         <ion-select-option  value="SECURITY">SECURITY</ion-select-option>
         <ion-select-option  value="MERCHANDISER">MERCHANDISER</ion-select-option>
         <ion-select-option  value="MANAGEMENT">MANAGEMENT</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
       </ion-col>

       <ion-chip color=dark outline>{{staffList.length}} </ion-chip>

      <ion-card *ngFor="let item of staffList"
       class=" primary-color-dark text-white" color="light">
        <h5 class="text-center text-white font-weight-bold 
        text-uppercase pt-2">{{item.fullname}} </h5>
        <ion-row>
          <ion-col>
            <small class="">phone</small>
            <div>{{item.phone}}</div>
          </ion-col>
           <ion-col>
            <small class="">Department</small>
            <div>{{item.department}}</div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <small class="">Account N0</small>
            <div>{{item.bankNumber}} </div>
          </ion-col> 
          <ion-col>
            <small class="">Account Type</small>
            <div>{{item.bankAccountType}} </div>
          </ion-col>
          <ion-col>
            <small class="">Account Name</small>
            <div>{{item.bankAccountName}} </div>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
        <small class="">{{item.created_at | date:'medium'}} </small>
        
          </ion-col>
          <ion-col>
            <ion-button size="small" color="light" 
            (click)="penalizeStaff(item._id, item.fullname, item.department)">
              <ion-icon 
              size="small" name="cut"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="salaryAdAlert(item._id, item.fullname, item.department)"
            color="light" size="small">Salary_Adv</ion-button>
          </ion-col>
          <ion-col>
           
              <ion-icon  *ngIf="userService.getUserRole() == 'DIRECTOR' ||
               userService.getUserRole() == 'DILIGENT'"
               (click)="deleteStaff(item._id, item.fullname)"
              color="danger"  size="large" name="trash"></ion-icon>
          </ion-col>
         
        </ion-row>
      </ion-card>
    </div>
  <!-- end staff list  -->

  <div>
    <ion-card *ngIf="showform" class="aqua-gradient text-white">
      <ion-card-header class="text-center bg-dark text-white">CREATE STAFF</ion-card-header>
      <ion-card-content>
        <form #staffForm="ngForm"  
         (submit)="staffForm.valid && submitStaff(staffForm)">
          
          <ion-col >
            <ion-item class="bg-dark">
              <div  class="text-input mb-1">
              <ion-label position="floating">fullname</ion-label>
              <ion-input  type="text" #fullname="ngModel" name="fullname" 
              [(ngModel)]="model.fullname"
                autocomplete="off" required="true"></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="staffForm.submitted && !fullname.value"> fullname is required</small>
          </ion-col>

          <ion-col>
            <ion-item class="bg-dark">
              <div  class="text-input mb-1">
              <ion-label position="floating">phone</ion-label>
              <ion-input  type="text" #phone="ngModel" name="phone" 
              [(ngModel)]="model.phone"
                autocomplete="off" required="true"></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="staffForm.submitted && !phone.value"> phone is required</small>
          </ion-col>

          <ion-col>
            <ion-item class="bg-dark">
              <div  class="text-input mb-1">
              <ion-label position="floating">address</ion-label>
              <ion-input  type="text" #address="ngModel" name="address" 
              [(ngModel)]="model.address"
                autocomplete="off" required="true"></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="staffForm.submitted && !fullname.value"> address is required</small>
          </ion-col>

          <ion-row>
            <ion-col>
              <ion-item class="bg-dark">
                <div  class="text-input mb-1">
                <ion-label position="floating">bank</ion-label>
                <ion-input  type="text" #bank="ngModel" name="bank" 
                [(ngModel)]="model.bank"
                  autocomplete="off" required="true"></ion-input>
            </div>
              </ion-item>
               <small class="error text-danger" *ngIf="staffForm.submitted && !bank.value"> bank is required</small>
             </ion-col>
             <ion-col>
              <ion-item class="bg-dark">
                <div  class="text-input mb-1">
                <ion-label position="floating">account number</ion-label>
                <ion-input  type="text" #accountNumber="ngModel" name="accountNumber" 
                [(ngModel)]="model.accountNumber"
                  autocomplete="off" required="true"></ion-input>
            </div>
              </ion-item>
               <small class="error text-danger" *ngIf="staffForm.submitted && !accountNumber.value"> required</small>
             </ion-col>
          </ion-row>

          <ion-col>
            <ion-item class="bg-dark">
              <div  class="text-input mb-1">
              <ion-label position="floating"> bank account fullname</ion-label>
              <ion-input  type="text" #bankName="ngModel" name="bankName" 
              [(ngModel)]="model.bankName"
                autocomplete="off" required="true"></ion-input>
          </div>
            </ion-item>
             <small class="error text-danger" *ngIf="staffForm.submitted && !bankName.value">required</small>
           </ion-col>

            <ion-col>
              <!-- select options -->
            <ion-card>
              <ion-item class="bg-dark">
              <ion-label class="text-center">account type</ion-label>
              <ion-select select="success" interface="popover" name="accountType"
               (ngModelChange)="accounttype($event)" #accountType="ngModel"
              [(ngModel)]="model.accountType">
                <ion-select-option  value="SAVINGS">SAVINGS</ion-select-option>
                <ion-select-option  value="CURRENT">CURRENT</ion-select-option>
              </ion-select>
            </ion-item>
            <small class="error text-danger" *ngIf="!model.accountType">account is required</small>
          </ion-card>
             </ion-col>

             <ion-col>
              <!-- select options -->
            <ion-card>
              <ion-item color="light">
                <ion-label class="text-center">select department</ion-label>
                <ion-select select="success" interface="popover" name="accountType"
                 (ngModelChange)="selectFormEvent($event)"  [(ngModel)]="model.department"
               >
               <ion-select-option  value="ADMINISTRATOR">ADMINISTRATOR</ion-select-option>
               <ion-select-option  value="ADMIN-ASSIST">ADMIN-ASSIST</ion-select-option>
               <ion-select-option  value="TECHNICAL">TECHNICAL</ion-select-option>
               <ion-select-option  value="PRODUCTION">PRODUCTION</ion-select-option>
               <ion-select-option  value="CLEANER">CLEANER</ion-select-option>
               <ion-select-option  value="DRIVER">DRIVER</ion-select-option>
               <ion-select-option  value="SECURITY">SECURITY</ion-select-option>
               <ion-select-option  value="MERCHANDISER">MERCHANDISER</ion-select-option>
               <ion-select-option  value="MANAGEMENT">MANAGEMENT</ion-select-option>
                </ion-select>
              </ion-item>
             <small class="error text-danger" *ngIf=" !model.department"> department is required</small>
          </ion-card>
             </ion-col>

             <ion-row class="pt-3" 
             >
              <ion-button   *ngIf="!model.department || !model.accountType "
              color="success" type="submit">SUBMIT</ion-button>
              <ion-button type="reset"(click)="resetForm()" >RESET</ion-button>
            </ion-row>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- loading.. -->
<div *ngIf="loading" class="spinner">
  <div class="loader"></div>
</div>



<!-- testing... -->

</ion-content>

