<ion-header> 
  <ion-toolbar color="light">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <div class="row d-flex justify-content-center font-weight-bold">
      SUPPLY ENTRY
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card color="light">
    <!-- select filter -->
    <ion-item color="light" >
      <ion-label color="dark" class="text-center"></ion-label>
      <select (change)="selectOutlet($event)"  >
        <option value="none" selected disabled hidden> 
          SELECT OUTLET 
      </option> 
        <option *ngFor="let item of allOutlet" [value]="item._id">{{item.code}}</option>
       
      </select>
    </ion-item>
  </ion-card>
<ion-card color="light">
  <ion-row>
  <th class="text-center text-uppercase text-danger font-weight-bold">{{singleOutlet?.name}} </th>
  <div class="ml-4 text-danger font-weight-bold"> location : {{singleOutlet?.location}} </div>
</ion-row>
<hr>
<form  #badstock="ngForm"  (keydown.enter)="badstock.valid && submitForm()"
 (submit)="badstock.valid && submitForm()">

  <ion-row> 
    <ion-col>
  <ion-item>
    <div  class="text-input ">
      <ion-label color="primary" position="floating">Pineapple</ion-label>
      <ion-input  type="number" #pineapple="ngModel" name="pineapple" 
      [(ngModel)]="model.pineapple" required="true"></ion-input>
  </div>
</ion-item>
</ion-col>
<ion-col>
  <ion-item>
    <div  class="text-input ">
      <ion-label color="primary" position="floating">sample</ion-label>
      <ion-input  type="number" #p_samp="ngModel" name="p_samp" 
      [(ngModel)]="model.p_samp" required="true"></ion-input>
  </div>
</ion-item>
</ion-col>
  <ion-col>
      <div  class="text-input">
        <ion-label color="primary" position="floating" color="success">capacity</ion-label>
        <p *ngIf="singleOutlet?.p_max">{{singleOutlet?.p_max | number}} pineapples</p>
    </div>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-item>
  <div>
    <ion-label color="primary" position="floating">Orange</ion-label>
    <ion-input  type="number" #orange="ngModel" name="orange" 
    [(ngModel)]="model.orange" required="true"></ion-input>
</div>
</ion-item>
</ion-col>
<ion-col>
  <ion-item>
    <div  class="text-input ">
      <ion-label color="primary" position="floating">sample</ion-label>
      <ion-input  type="number" #o_samp="ngModel" name="o_samp" 
      [(ngModel)]="model.o_samp" required="true"></ion-input>
  </div>
</ion-item>
</ion-col>
<ion-col>
    <div  >
      <ion-label color="primary" position="floating" color="success">capacity</ion-label>
      <p *ngIf="singleOutlet?.p_max">{{singleOutlet?.o_max | number}} oranges</p>
  </div>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-item>
  <div>
    <ion-label color="primary" position="floating">Watermel</ion-label>
    <ion-input  type="number" #watermelon="ngModel" name="watermelon" 
    [(ngModel)]="model.watermelon" required="true"></ion-input>
</div>
</ion-item>
</ion-col>
<ion-col>
  <ion-item>
    <div  class="text-input">
      <ion-label color="primary" position="floating">sample</ion-label>
      <ion-input  type="number" #w_samp="ngModel" name="w_samp" 
      [(ngModel)]="model.w_samp" required="true"></ion-input>
  </div>
</ion-item>
</ion-col>
<ion-col>
    <div  >
      <ion-label color="primary" position="floating" color="success">capacity</ion-label>
      <p *ngIf="singleOutlet?.w_max">{{singleOutlet?.w_max | number}} watermelon</p>
  </div>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-item>
  <div>
    <ion-label color="primary" position="floating">Tigernut</ion-label>
    <ion-input  type="number" #tigernut="ngModel" name="tigernut" 
    [(ngModel)]="model.tigernut" required="true"></ion-input>
</div>
</ion-item>
</ion-col>
<ion-col>
  <ion-item>
    <div  class="text-input">
      <ion-label color="primary" position="floating">sample</ion-label>
      <ion-input  type="number" #t_samp="ngModel" name="t_samp" 
      [(ngModel)]="model.t_samp" required="true"></ion-input>
  </div>
</ion-item>
</ion-col>
<ion-col>
    <div  >
      <ion-label color="primary" position="floating" color="success">capacity</ion-label>
      <p *ngIf="singleOutlet?.t_max">{{singleOutlet?.t_max | number}} tigernuts</p>
  </div>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-item>
  <div>
    <ion-label color="primary" position="floating">Carrot</ion-label>
    <ion-input  type="number" #carrot="ngModel" name="carrot" 
    [(ngModel)]="model.carrot" required="true"></ion-input>
</div>
</ion-item>
</ion-col>
<ion-col>
  <ion-item>
    <div  class="text-input ">
      <ion-label color="primary" position="floating">sample</ion-label>
      <ion-input  type="number" #c_samp="ngModel" name="c_samp" 
      [(ngModel)]="model.c_samp" required="true"></ion-input>
  </div>
</ion-item>
</ion-col>
<ion-col>
    <div  >
      <ion-label color="primary" position="floating" color="success">capacity</ion-label>
      <p *ngIf="singleOutlet?.c_max">{{singleOutlet?.c_max | number}} carrots</p>
  </div>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-item>
  <div>
    <ion-label color="primary" position="floating">Sugercane</ion-label>
    <ion-input  type="number" #sugercane="ngModel" name="sugercane" 
    [(ngModel)]="model.sugarcane" required="true"></ion-input>
</div>
</ion-item>
</ion-col>
<ion-col>
  <ion-item>
    <div  class="text-input ">
      <ion-label color="primary" position="floating">sample</ion-label>
      <ion-input  type="number" #s_samp="ngModel" name="s_samp" 
      [(ngModel)]="model.s_samp" required="true"></ion-input>
  </div>
</ion-item>
</ion-col>
<ion-col>
    <div  >
      <ion-label color="primary" position="floating" color="success">capacity</ion-label>
      <p *ngIf="singleOutlet?.s_max">{{singleOutlet?.s_max | number}} sugarcane</p>
  </div>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-item>
  <div>
    <ion-label color="primary" position="floating">Slg</ion-label>
    <ion-input  type="number" #slg="ngModel" name="slg" 
    [(ngModel)]="model.slg" required="true"></ion-input>
</div>
</ion-item>
</ion-col>
<ion-col>
  <ion-item>
    <div  class="text-input ">
      <ion-label color="primary" position="floating">sample</ion-label>
      <ion-input  type="number" #slg_samp="ngModel" name="slg_samp" 
      [(ngModel)]="model.slg_samp" required="true"></ion-input>
  </div>
</ion-item>
</ion-col>
<ion-col>
    <div  >
      <ion-label color="primary" position="floating" color="success">capacity</ion-label>
      <p *ngIf="singleOutlet?.slg_max">{{singleOutlet?.slg_max | number}} slg</p>
  </div>
</ion-col>
</ion-row>

<ion-title class="text-center pt-3" color="dark"> EXCHANGE EXCHANGE</ion-title>
<ion-row>
  <ion-col>
    <ion-item>
        <ion-label color="primary" position="floating">P </ion-label>
        <ion-input  type="number" #p_exg="ngModel" name="p_exg" 
        [(ngModel)]="model.p_exg" required="true"></ion-input>
  </ion-item>
  </ion-col>
  <ion-col>
    <ion-item>
        <ion-label color="primary" position="floating">O </ion-label>
        <ion-input  type="number" #o_exg="ngModel" name="o_exg" 
        [(ngModel)]="model.o_exg" required="true"></ion-input>
  </ion-item>
  </ion-col>
  <ion-col>
    <ion-item>
        <ion-label color="primary" position="floating">W </ion-label>
        <ion-input  type="number" #w_exg="ngModel" name="w_exg" 
        [(ngModel)]="model.w_exg" required="true"></ion-input>
  </ion-item>
  </ion-col>
  <ion-col>
    <ion-item>
        <ion-label color="primary" position="floating">T </ion-label>
        <ion-input  type="number" #t_exg="ngModel" name="t_exg" 
        [(ngModel)]="model.t_exg" required="true"></ion-input>
  </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
        <ion-label color="primary" position="floating">C </ion-label>
        <ion-input  type="number" #c_exg="ngModel" name="c_exg" 
        [(ngModel)]="model.c_exg" required="true"></ion-input>
  </ion-item>
  </ion-col>
  <ion-col>
    <ion-item>
        <ion-label color="primary" position="floating">S </ion-label>
        <ion-input  type="number" #s_exg="ngModel" name="s_exg" 
        [(ngModel)]="model.s_exg" required="true"></ion-input>
  </ion-item>
  </ion-col>
  <ion-col>
    <ion-item>
        <ion-label color="primary" position="floating">Slg </ion-label>
        <ion-input  type="number" #slg_exg="ngModel" name="slg_exg" 
        [(ngModel)]="model.slg_exg" required="true"></ion-input>
  </ion-item>
  </ion-col>
</ion-row>


<ion-title class="text-center pt-3" color="dark"> RETURN STOCK</ion-title>
<ion-row>
  <ion-col>
    <ion-item>
        <ion-label color="primary" position="floating">P </ion-label>
        <ion-input  type="number" #p_return="ngModel" name="p_return" 
        [(ngModel)]="model.p_return" required="true"></ion-input>
  </ion-item>
  </ion-col>
  <ion-col>
    <ion-item>
        <ion-label color="primary" position="floating">O </ion-label>
        <ion-input  type="number" #o_return="ngModel" name="o_return" 
        [(ngModel)]="model.o_return" required="true"></ion-input>
  </ion-item>
  </ion-col>
  <ion-col>
    <ion-item>
        <ion-label color="primary" position="floating">W </ion-label>
        <ion-input  type="number" #w_return="ngModel" name="w_return" 
        [(ngModel)]="model.w_return" required="true"></ion-input>
  </ion-item>
  </ion-col>
  <ion-col>
    <ion-item>
        <ion-label color="primary" position="floating">T </ion-label>
        <ion-input  type="number" #t_return="ngModel" name="t_return" 
        [(ngModel)]="model.t_return" required="true"></ion-input>
  </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
        <ion-label color="primary" position="floating">C </ion-label>
        <ion-input  type="number" #c_return="ngModel" name="c_return" 
        [(ngModel)]="model.c_return" required="true"></ion-input>
  </ion-item>
  </ion-col>
  <ion-col>
    <ion-item>
        <ion-label color="primary" color="primary" position="floating">S </ion-label>
        <ion-input  type="number" #s_return="ngModel" name="s_return" 
        [(ngModel)]="model.s_return" required="true"></ion-input>
  </ion-item>
  </ion-col>
  <ion-col>
    <ion-item>
        <ion-label color="primary" position="floating">Slg </ion-label>
        <ion-input  type="number" #slg_return="ngModel" name="slg_return" 
        [(ngModel)]="model.slg_return" required="true"></ion-input>
  </ion-item>
  </ion-col>
</ion-row>

<div class="row d-flex justify-content-center">
  <ion-button [disabled]="!singleOutlet?.name || loading" type="submit"  color="success"> SUBMIT</ion-button>
  </div>
</form>
</ion-card>

       <!-- loading -->
<!-- <div *ngIf="loading" class="spinner">
  <div class="loader"></div>
</div> -->

<!-- 
<div class="spinner">
<ngb-toast *ngIf="show" header="Click my close icon →" [autohide]="false"
  (hide)="close()">
  If you close me, I will automatically re-appear after a few seconds.
</ngb-toast>
<p *ngIf="!show">I'll be back!</p>
</div> -->
</ion-content>