<ion-header>
  <ion-toolbar color="dark">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center font-weight-bold">
      FRUIT 
    </div>
  </ion-toolbar>
</ion-header> 


<ion-content>
 <!-- referesh -->
 <ion-refresher #refresherRef (ionRefresh)="doRefresh($event)" slot="fixed" >
  <ion-refresher-content>
  </ion-refresher-content>
</ion-refresher>

 <!-- month/year picker -->
 <ion-fab 
 vertical="bottom" horizontal="end" slot="fixed">
<ion-fab-button (click)="doRefresh($event)"   color="primary">
  <ion-icon  name="refresh"></ion-icon>
</ion-fab-button>
</ion-fab>
 
 <ion-card color="light">
  <ion-item color="dark">
    <ion-label  class="ion-text-center font-weight-bold">PICK A MONTH</ion-label>
    <ion-datetime  [pickerOptions]="filter_Month_Year" displayFormat="MMMM YYYY"  [(ngModel)]="myDate" ></ion-datetime>
  </ion-item>
</ion-card>


<!-- add button -->
 <ion-fab  (click)="addRecord()"  vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button color="success">
    <ion-icon  name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<form #dateform="ngForm" (keydown.enter)=" submitDate(dateform)"
 (submit)=" submitDate(dateform)" class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="model.date" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()"
         type="button"><ion-icon name="apps"></ion-icon> </button>
        <button class="btn btn-success" [disabled]="!model.date"
         (click)="submitDate(dateform)" type="submit">
        <ion-icon name="search"></ion-icon></button>
      </div>
    </div>
  </div>
</form>
<div class="pt-5">


  <ion-card color="light" class="font-weight-bold ion-padding"  *ngFor="let item of recordService.fruitRecord index as i">
    <ion-row>
      <ion-col>
        <div class="font-weight-bold">{{i+1}} - {{item.product}} </div>
        <div class="d-flex justify-content-center">
          <img *ngIf="item.product == 'pineapple'"  src="assets/fruits/pineapple.jpg" alt="pineapple" style="width:80px;">
          <img *ngIf="item.product == 'orange'" src="assets/fruits/orange.jpg" alt="orange" style="width:80px;">
          <img *ngIf="item.product == 'carrot'" src="assets/fruits/carottes.jpg" alt="carrot" style="width:80px;">
          <img *ngIf="item.product == 'sugarcane'" src="assets/fruits/sugarcane.jpg" alt="sugarcane" style="width:80px;">
          <img *ngIf="item.product == 'tigernut'" src="assets/fruits/tigernuts.PNG" alt="tigernut" style="width:80px;">
          <img *ngIf="item.product == 'watermelon'" src="assets/fruits/watermelon.jpg" alt="watermelon" style="width:80px;">
          <img *ngIf="item.product == 'lime'" src="assets/fruits/limes.jpg" alt="lime" style="width:80px;">
          <img *ngIf="item.product == 'ginger'" src="assets/fruits/ginger.jpg" alt="ginger" style="width:80px;">
         </div>
      </ion-col>
     <ion-col>
      <small class="font-weight-bold">{{item.created_at | date:'medium'}} </small>
     </ion-col> <ion-col>
      <small class="text-primary">edited :{{item.edit}} </small>
      <div class="pl-1">{{item.admin}} </div>
      <ion-button [disabled]="item.verify || item.confirm"
       (click)="editRecord(item._id,item.product,item.damage,item.assist_buyer,item.paid_for
       ,item.amount,item.kilo,item.supplier,item.driver,
       item.quantity,item.confirmed_by,item.buyer,item.size, item.remark, item.bottles)"
       color="light" size="small">EDIT</ion-button>
     </ion-col>
    </ion-row> 

    <ion-row >
      <ion-col >
        <div>QUANTITY</div>
        <div class="text-primary">{{item.quantity}}</div>
      </ion-col>
      <ion-col>
        <div class="mr-1">BUYER</div>
        <div class="text-primary">{{item.buyer}}</div>
      </ion-col>
      <ion-col>
        <div class="mr-1">AST_BUYER</div>
        <div class="text-primary">{{item.assist_buyer}}</div>
      </ion-col>
      <ion-col>
        <div class="mr-1">CONFIRM</div>
        <div class="text-primary">{{item.confirmed_by}}</div>
      </ion-col>
      <ion-col>
        <div class="mr-1">DAMAGE</div>
        <div class="text-primary">{{item.damage}}</div>
      </ion-col>
      <ion-col>
        <div>DRIVER</div>
         <div class="text-primary">{{item.driver}}</div>
     </ion-col>
     <ion-col>
      <div>KILO</div>
     <div class="text-primary">{{item.kilo }}</div>
    </ion-col>
    </ion-row>
    <ion-row class=""  color="light">
      <ion-col>
        <div>SUPPLIER</div>
         <div class="text-primary"> {{item.supplier}}</div>
      </ion-col>
      
       <ion-col>
        <div>AMOUNT</div>
       <div class="font-weight-bold  text-primary"> {{item.amount  | currency:'₦'}}</div>
      </ion-col>
      <ion-col>
        <div class="">BOTTLES</div>
        <div class="text-primary">{{item.bottles}}</div>
      </ion-col>
    </ion-row>
   <ion-row class="my-border">
    <div>Remark: <ion-chip color="danger">{{item.remark}}</ion-chip> </div>
   </ion-row>
   <ion-row  class="my-border">
    <ion-text  outline>Paid for : <ion-chip  color="success">{{item.paid_for}}</ion-chip> </ion-text>
   </ion-row>
   <ion-row  class="my-border">
     <div>sizes:  <ion-chip color="primary">{{item.size}}</ion-chip> </div>
      
   </ion-row>
    <ion-row  color="light">
      <ion-col  >
        <ion-button *ngIf="!item.confirm" size="small" [disabled]="userService.getUserRole() != 'DILIGENT'"
        (click)="okRecord(item._id)" color="light">ok</ion-button>
        <ion-button [disabled]="userService.getUserRole() != 'DILIGENT'"  *ngIf="item.confirm" (click)="UnokRecord(item._id)"
        size="small" color="success">ok</ion-button>
      </ion-col>
      <ion-col >
        <!-- <small *ngIf="item.verify" class="font-weight-bold text-success">VERIFIED</small>
        <small *ngIf="!item.verify" class="font-weight-bold text-warning">NOT VERIFIED</small> -->
        <ion-button *ngIf="!item.verify" size="small" [disabled]="userService.getUserRole() != 'DIRECTOR'"
        (click)="verify(item._id)" color="light">verify</ion-button>
         <ion-button *ngIf="item.verify" size="small" [disabled]="userService.getUserRole() != 'DIRECTOR'"
        (click)="disprove(item._id)" color="success">verified</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</div>

 <!-- loading.. -->
 <div *ngIf="recordService.loading" class="spinner">
  <div class="loader"></div>
</div>

</ion-content>

