<ion-app>

  <ion-split-pane when="md"  contentId="main-content">
<ion-menu [enable]="userService.isLogedIn()"  contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar color="dark">
        <small class="p-5 pt-2 pl-1 text-uppercase" [routerLink]="['/setting']"
        >user - {{userService.appUser}} </small> <br>
        <small class="p-5 pl-1 text-uppercase" [routerLink]="['/setting']"
        >MY ROLE - {{userService.role}} </small> <br>
   
            <ion-row class="ml-5">
              <ion-col class="ml-5">
                <div #bal class="rubberBand animated infinite" (click)="userService.refreshDetails()">
                  <ion-icon name="swap" size="large" ></ion-icon>
                </div>
              </ion-col>
            </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content > 
    <ion-list color="dark">
      <ion-list-header color="dark">management</ion-list-header>
      <ion-menu-toggle  auto-hide="false" *ngFor="let p of appPages">
        <ion-item color="dark" [routerDirection]="'root'" [routerLink]="[p.url]" routerLinkActive="router-link-active">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <ion-list color="dark">
      
      <ion-list-header color="dark">director</ion-list-header>
        <ion-item  color="dark"   [routerLink]="['/expense-two']" routerLinkActive="router-link-active">
          <ion-icon name="list"></ion-icon>
          <ion-label  class="ml-4">EXPENSE 2</ion-label>
        </ion-item>
      
          <ion-item color="dark" 
            [routerLink]="['//pay-roll']" routerLinkActive="router-link-active">
            <ion-icon name="cash"></ion-icon>
            <ion-label  class="ml-4"> PAY ROLL</ion-label>
          </ion-item>
        <ion-item color="dark" 
          [routerLink]="['/manager']" routerLinkActive="router-link-active">
          <ion-icon name="build"></ion-icon>
          <ion-label  class="ml-4">APP USERS</ion-label>
        </ion-item>
     
    </ion-list>
    <ion-list id="labels-list">
      <ion-item  color="dark" (click)="logout()" tappable >
        <ion-icon color="light" name="power"></ion-icon>
        <ion-label  class="ml-4">LOGOUT</ion-label>
      </ion-item>
  </ion-list>
  </ion-content>
</ion-menu>
  <ion-router-outlet  id="main-content"></ion-router-outlet> 
  </ion-split-pane>


</ion-app>
