<ion-app>

  <div *ngIf="showSlash"  class="splash">
    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class=" sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class=" sk-cube3 sk-cube"></div>
    </div>
  </div>

  <!-- <div>
    <h3 style="margin-top: 15%; margin-bottom: 60%; " class="text-center">farm to juice</h3>
  </div> -->


<ion-menu  contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar color="dark">
        <small class="p-5 pt-2 pl-1 text-uppercase" [routerLink]="['/setting']"
        >user - {{userService.appUser}} </small> <br>
        <small class="p-5 pl-1 text-uppercase" [routerLink]="['/setting']"
        >MY ROLE - {{userService.role}} </small> <br>
   
    
       
            
            <ion-row class="ml-5">
              <ion-col class="ml-5">
                <div #bal class="rubberBand animated infinite" (click)="userService.refreshDetails()">
                  <ion-icon name="swap" size="large" ></ion-icon>
                </div>
              </ion-col>
            </ion-row>

            
        
      
    </ion-toolbar>
  </ion-header>
  <ion-content > 
    <ion-list color="light">
      <ion-menu-toggle  auto-hide="false" *ngFor="let p of appPages">
        <ion-item color="dark" [routerDirection]="'root'" [routerLink]="[p.url]" routerLinkActive="router-link-active">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle class="p-0 m-0" 
        [routerLink]="['/payout']" routerLinkActive="router-link-active"  >
        <ion-item color="dark" class="p-0 m-0">
        <ion-icon name="basket"></ion-icon>
        <ion-label  class="ml-4">PAYOUT </ion-label>
      </ion-item>
    </ion-menu-toggle>
       

      <ion-menu-toggle class="p-0 m-0" *ngIf="userService.getUserRole() =='DIRECTOR'" [routerLink]="['/manager']" routerLinkActive="router-link-active"  >
        <ion-item color="dark">
        <ion-icon name="build"></ion-icon>
        <ion-label  class="ml-4">APP USER</ion-label>
      </ion-item>
    </ion-menu-toggle>
       
        <ion-menu-toggle (click)="logout()">
            <ion-item color="dark"  >
            <ion-icon name="power"></ion-icon>
            <ion-label  class="ml-4">LOGOUT</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
    </ion-list>
  </ion-content>
</ion-menu>
  <ion-router-outlet  id="main-content"></ion-router-outlet>
</ion-app>
