<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center font-weight-bold">
      OUTLETS
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-fab 
  vertical="bottom" horizontal="end" slot="fixed">
 <ion-fab-button (click)="reloadoutlet()"   color="primary">
   <ion-icon  name="refresh"></ion-icon>
 </ion-fab-button>
 </ion-fab>
  

  <ion-fab *ngIf="!showForm || !showEdit" (click)="addNewOutlet()"  vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button   color="success">
      <ion-icon  name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  

   <ion-fab *ngIf="showForm" (click)="cancelForm()"  vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button   color="danger">
      <ion-icon  name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>

 <!-- oulets list -->

 

  <div class="pt=5" *ngIf="showOutletlist">
  <!-- search list -->
  <ion-card>
    <ion-row>
      <ion-item>
      <ion-input name="search" #search placeholder="example: E2" 
      (keydown.enter)="searchOutlet()" [(ngModel)]="model.search"></ion-input> 
      <ion-button color="success" size="medium" (click)="searchOutlet()" [disabled]="!search.value">
        <ion-icon name="search" size="large"></ion-icon>
      </ion-button> 
    </ion-item>
    </ion-row>
  </ion-card>

  <ion-row>
    <ion-chip class="font-weight-bold" color="primary" outline>TOTAL: {{outletList?.length}} </ion-chip>
  </ion-row>
  <!--  display outlets -->
    <ion-row>
      <ion-col  size="12" size-lg="6" size-md="6" size-xs="12"
      size-sm="6" size-xl="6" *ngFor="let item of outletList; index as i">

     <ion-card  class="blue-gradient text-white">
     <ion-row>
     <ion-col>
      <small class="text-white ">{{item.created_at | date}} </small>
     </ion-col>
     <ion-col>
       <ion-button *ngIf="userService.getUserRole() == 'DIRECTOR' || userService.getUserRole() =='DILIGENT'" (click)="editOutlet(item._id,item.name, item.code, item.p_price,item.o_price,
       item.w_price,item.t_price,item.c_price,item.s_price, item.slg_price,item.p_max, item.o_max,
       item.w_max, item.t_max, item.c_max, item.s_max,item.slg_max,
       item.location)" color="light" size="small" >edit</ion-button>
     </ion-col>
      <ion-col> 
       <ion-card *ngIf="userService.getUserRole() == 'DIRECTOR'"
        color="success" (click)="editMerchantRate(item._id,item.merchant_rate)">
        <div class="text-white ">M_RATE: ₦{{item.merchant_rate | number}} </div>
       </ion-card>
      </ion-col>

     </ion-row>
      <ion-row class="font-weight-bold ">
        <ion-col>Location: {{item.location}} </ion-col>
        <ion-col>Code : {{item.code}} </ion-col>
      </ion-row>
      <ion-card-title class="text-uppercase text-white"> {{i+1}}  - {{item.name}}</ion-card-title>
        <small class="text-center text-underline">SUPPLY RATE</small>
       <ion-row class="text-white font-weight-bold">
         <ion-col>P : ₦{{item.p_price}} </ion-col>
         <ion-col>O : ₦{{item.o_price}} </ion-col>
         <ion-col>W : ₦{{item.w_price}} </ion-col>
         <ion-col>T : ₦{{item.t_price}} </ion-col>
         <ion-col>C : ₦{{item.c_price}} </ion-col>
         <ion-col>S : ₦{{item.s_price}} </ion-col>
         <ion-col>SLG : ₦{{item.slg_price}} </ion-col>
       </ion-row>
       <ion-row class="text-white">
       </ion-row>
      <!-- capacity -->
        <small class="text-center text-white">CAPACITY RATE</small>
       <ion-row class=" text-white font-weight-bold">
         <ion-col>P : {{item.p_max}} </ion-col>
         <ion-col> O: {{item.o_max}}</ion-col>
         <ion-col>W: {{item.w_max}}</ion-col>
         <ion-col>T: {{item.t_max}}</ion-col>
         <ion-col>C: {{item.c_max}} </ion-col>
         <ion-col>S: {{item.s_max}}</ion-col>
         <ion-col>slg:{{item.slg_max}}</ion-col>
       </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon (click)="deleteOutlet(item._id)" size="large"
          *ngIf="userService.getUserRole() == 'DIRECTOR'" color="danger" name="trash"></ion-icon>
        </ion-col>
      </ion-row>
      <small>{{item.admin}} </small>
     </ion-card>
    </ion-col>
  </ion-row>
  </div> 

  <!--  end of outlets list -->



  <div *ngIf="showForm">
  <ion-card color="light">
    <form class="p-3 pb-4 text-center" (keydown.enter)="outletForm.valid && createOutlet(outletForm)"
    #outletForm="ngForm"  (submit)="outletForm.valid && createOutlet(outletForm)">
      <h5  class="text-center font-weight-bold text-dark mb-4 pt-5">CREATE NEW OUTLET</h5>

      <ion-item>
        <div  class="text-input mb-1">
        <ion-label color="primary" position="floating">Name</ion-label>
        <ion-input  type="text" #name="ngModel" name="name" 
        [(ngModel)]="model.name"
          autocomplete="off" required="true"  ></ion-input>
    </div>
      </ion-item>
      <small class="error text-danger" *ngIf="outletForm.touched && !name.value"> name is required</small>
      
      <ion-row>
        <ion-col>
          <ion-item color="light" >
            <ion-label color="primary" class="text-center">LOCATION</ion-label>
            <ion-select select="dark" [value]="model.location" required #location name="location"
            (ngModelChange)="selectChange($event)" [(ngModel)]="modelSel.filterOptions">
            <ion-select-option *ngFor="let item of staffService.nigeriaState"
            [value]="item.value">{{item.name}} </ion-select-option>
            </ion-select>
          </ion-item>
          <small class="error text-danger" *ngIf="outletForm.touched && !model.location"> location must be selected</small>
        
        </ion-col>
        <ion-col>
          <ion-item>
            <div  class="text-input mb-1">
            <ion-label color="primary" position="floating">code</ion-label>
            <ion-input  type="text" #code="ngModel" name="code" 
            [(ngModel)]="model.code" 
              autocomplete="off" required="true"></ion-input>
        </div>
          </ion-item>
          <small class="error text-danger" *ngIf="outletForm.touched && !code.value"> enter code</small>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <div  class="text-input mb-1">
            <ion-label color="primary" position="floating">(P) price</ion-label>
            <ion-input  type="number" #pineapple="ngModel" name="pneapple" 
            [(ngModel)]="model.p_price" 
              autocomplete="off" required="true"  ></ion-input>
        </div>
          </ion-item>
          <small class="error text-danger" *ngIf="pineapple.touched && !pineapple.value">enter value</small>
        </ion-col>
      
        <ion-col>
          <ion-item>
            <div  class="text-input mb-1">
            <ion-label color="primary" position="floating">(O) price</ion-label>
            <ion-input  type="number" #orange="ngModel" name="orange" 
            [(ngModel)]="model.o_price" 
              autocomplete="off" required="true"  ></ion-input>
        </div>
          </ion-item>
          <small class="error text-danger" *ngIf="outletForm.touched && !orange.value">invalid</small>
        </ion-col>
        <ion-col>
          <ion-item>
            <div  class="text-input mb-1">
            <ion-label color="primary" position="floating">(W) price</ion-label>
            <ion-input  type="number" #watermelon="ngModel" name="watermelon" 
            [(ngModel)]="model.w_price" 
              autocomplete="off" required="true"  ></ion-input>
        </div>
          </ion-item>
          <small class="error text-danger" *ngIf="outletForm.touched && !watermelon.value">enter value</small>
        </ion-col>
      </ion-row>


        
         <!-- prices row-->
         <ion-row>
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating">(T) price</ion-label>
              <ion-input  type="number" #tigernut="ngModel" name="tigernut" 
              [(ngModel)]="model.t_price" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="outletForm.touched && !tigernut.value">enter value</small>
          </ion-col>
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating">(C) price</ion-label>
              <ion-input  type="number" #carrot="ngModel" name="carrot" 
              [(ngModel)]="model.c_price" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="outletForm.touched && !carrot.value">enter value</small>
          </ion-col>
        
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating">(S) price</ion-label>
              <ion-input  type="number" #sugarcane="ngModel" name="sugercane" 
              [(ngModel)]="model.s_price" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="outletForm.touched && !sugarcane.value">enter value</small>
          </ion-col>
        </ion-row>

         <!-- prices row-->
         <ion-row>
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating">(SLG) price</ion-label>
              <ion-input  type="number" #slg="ngModel" name="slg" 
              [(ngModel)]="model.slg_price" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="outletForm.touched && !slg.value">enter value</small>
          </ion-col>
        </ion-row>

        <!-- max setting -->
        <div class="text-center pt-3 text-white">ENTER MAXIMUM OUTLET CAPACITY</div>
         <ion-row class="bg-dark">
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating"> P-MAX</ion-label>
              <ion-input  type="number" #pineapple_max ="ngModel" name="pineapple_max" 
              [(ngModel)]="model.p_max" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="outletForm.touched && !pineapple_max.value">enter value</small>
          </ion-col>
        
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating">O-MAX</ion-label>
              <ion-input  type="number" #orange_max="ngModel" name="orange_max" 
              [(ngModel)]="model.o_max" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="outletForm.touched && !orange_max.value">enter value</small>
          </ion-col>
        </ion-row>

        <!-- row 2 -->
        <ion-row class="bg-dark">
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating"> W-MAX</ion-label>
              <ion-input  type="number" #watermelon_max="ngModel" name="watermelon_max" 
              [(ngModel)]="model.w_max" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="outletForm.touched && !watermelon_max.value">enter value</small>
          </ion-col>
        
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating">T-MAX</ion-label>
              <ion-input  type="number" #tigernut_max="ngModel" name="tigernut_max" 
              [(ngModel)]="model.t_max" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="outletForm.touched && !tigernut_max.value">enter value</small>
          </ion-col>
        </ion-row>

         <!-- row 3 -->
         <ion-row class="bg-dark">
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating"> C-MAX</ion-label>
              <ion-input  type="number" #carrot_max="ngModel" name="carrot_max" 
              [(ngModel)]="model.c_max" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="outletForm.touched && !carrot_max.value">enter value</small>
          </ion-col>
        
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating">S-MAX</ion-label>
              <ion-input  type="number" #sugarcane_max="ngModel" name="sugarcane_max" 
              [(ngModel)]="model.s_max" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="outletForm.touched && !sugarcane_max.value">enter value</small>
          </ion-col>
        </ion-row>

        <ion-row  class="bg-dark">
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating"> SLG-MAX</ion-label>
              <ion-input  type="number" #slg_max="ngModel" name="slg_max" 
              [(ngModel)]="model.slg_max" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="outletForm.touched && !slg_max.value">enter value</small>
          </ion-col>
        </ion-row>
        <!-- end max setting -->
        <ion-row>
        <ion-col>
          <ion-item>
            <div>
            <ion-label color="primary" position="floating">merchandiser profit per bottle</ion-label>
            <ion-input  type="number" #merchant_rate="ngModel" name="merchant_rate" 
            [(ngModel)]="model.merchant_rate"  required="true"  ></ion-input>
        </div>
          </ion-item>
        </ion-col>
        </ion-row>
      

        <ion-col>
          <ion-row>
            <ion-button [disabled]="!outletForm.valid" color="success" type="submit">SUBMIT</ion-button>
            <ion-button color="danger" (click)="cancelForm()"  type="reset">CANCEL</ion-button>
          </ion-row>
        </ion-col>
    </form>
  </ion-card>
</div>


<!-- EDIT OUTLET...-->

<div *ngIf="showEdit">
  <ion-card class="primary-color-dark text-white">
    <form class="p-3 pb-4 text-center" (keydown.enter)="editForm.valid && updateOutlet()"
    #editForm="ngForm"  (submit)="editForm.valid && updateOutlet()">
      <h5  class="text-center font-weight-bold text-white mb-4 pt-5">EDIT OUTLET</h5>

      <ion-item>
        <div  class="text-input mb-1">
        <ion-label color="primary" position="floating">Name</ion-label>
        <ion-input  type="text" #name="ngModel" name="name" 
        [(ngModel)]="editModel.name"
          autocomplete="off" required="true"  ></ion-input>
    </div>
      </ion-item>
      <small class="error text-danger" *ngIf="editForm.touched && !name.value"> name is required</small>
      
      <ion-row>
        <ion-col>
          <ion-item color="light" >
            <ion-label color="primary" class="text-center">LOCATION</ion-label>
            <ion-select select="dark" [value]="editModel.location" required #location name="location"
            (ngModelChange)="editModelLocation($event)" [(ngModel)]="editModel.location">
            <ion-select-option *ngFor="let item of staffService.nigeriaState"
            [value]="item.value">{{item.name}} </ion-select-option>
            </ion-select>
          </ion-item>
          <small class="error text-danger" *ngIf="editForm.touched && !location.value">enter location</small>

        </ion-col>
        <ion-col>
          <ion-item>
            <div  class="text-input mb-1">
            <ion-label color="primary" position="floating">code</ion-label>
            <ion-input  type="text" #code="ngModel" name="code" 
            [(ngModel)]="editModel.code" 
              autocomplete="off" required="true"></ion-input>
        </div>
          </ion-item>
          <small class="error text-danger" *ngIf="editForm.touched && !code.value"> enter code</small>

        </ion-col>
      </ion-row>

  
      <!-- prices row -->
     
      <ion-row>
        <ion-col>
          <ion-item>
            <div  class="text-input mb-1">
            <ion-label color="primary" position="floating">(P) price</ion-label>
            <ion-input  type="number" #pineapple="ngModel" name="pneapple" 
            [(ngModel)]="editModel.p_price" 
              autocomplete="off" required="true"  ></ion-input>
        </div>
          </ion-item>
          <small class="error text-danger" *ngIf="pineapple.touched && !pineapple.value">enter value</small>
        </ion-col>
      
        <ion-col>
          <ion-item>
            <div  class="text-input mb-1">
            <ion-label color="primary" position="floating">(O) price</ion-label>
            <ion-input  type="number" #orange="ngModel" name="orange" 
            [(ngModel)]="editModel.o_price" 
              autocomplete="off" required="true"  ></ion-input>
        </div>
          </ion-item>
          <small class="error text-danger" *ngIf="editForm.touched && !orange.value">invalid</small>
        </ion-col>
        <ion-col>
          <ion-item>
            <div  class="text-input mb-1">
            <ion-label color="primary" position="floating">(W) price</ion-label>
            <ion-input  type="number" #watermelon="ngModel" name="watermelon" 
            [(ngModel)]="editModel.w_price" 
              autocomplete="off" required="true"  ></ion-input>
        </div>
          </ion-item>
          <small class="error text-danger" *ngIf="editForm.touched && !watermelon.value">enter value</small>
        </ion-col>
      </ion-row>


        
         <!-- prices row-->
         <ion-row>
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating">(T) price</ion-label>
              <ion-input  type="number" #tigernut="ngModel" name="tigernut" 
              [(ngModel)]="editModel.t_price" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="editForm.touched && !tigernut.value">enter value</small>
          </ion-col>
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating">(C) price</ion-label>
              <ion-input  type="number" #carrot="ngModel" name="carrot" 
              [(ngModel)]="editModel.c_price" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="editForm.touched && !carrot.value">enter value</small>
          </ion-col>
        
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating">(S) price</ion-label>
              <ion-input  type="number" #sugarcane="ngModel" name="sugercane" 
              [(ngModel)]="editModel.s_price" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="editForm.touched && !sugarcane.value">enter value</small>
          </ion-col>
        </ion-row>

         <!-- prices row-->
         <ion-row>
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating">(SLG) price</ion-label>
              <ion-input  type="number" #slg="ngModel" name="slg" 
              [(ngModel)]="editModel.slg_price" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="editForm.touched && !slg.value">enter value</small>
          </ion-col>
        </ion-row>

        <!-- max setting -->
        <div class="text-center pt-3 text-white">ENTER MAXIMUM OUTLET CAPACITY</div>
         <ion-row class="bg-dark">
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating"> P-MAX</ion-label>
              <ion-input  type="number" #pineapple_max ="ngModel" name="pineapple_max" 
              [(ngModel)]="editModel.p_max" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="editForm.touched && !pineapple_max.value">enter value</small>
          </ion-col>
        
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating">O-MAX</ion-label>
              <ion-input  type="number" #orange_max="ngModel" name="orange_max" 
              [(ngModel)]="editModel.o_max" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="editForm.touched && !orange_max.value">enter value</small>
          </ion-col>
        </ion-row>

        <!-- row 2 -->
        <ion-row class="bg-dark">
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating"> W-MAX</ion-label>
              <ion-input  type="number" #watermelon_max="ngModel" name="watermelon_max" 
              [(ngModel)]="editModel.w_max" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="editForm.touched && !watermelon_max.value">enter value</small>
          </ion-col>
        
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating">T-MAX</ion-label>
              <ion-input  type="number" #tigernut_max="ngModel" name="tigernut_max" 
              [(ngModel)]="editModel.t_max" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="editForm.touched && !tigernut_max.value">enter value</small>
          </ion-col>
        </ion-row>

         <!-- row 3 -->
         <ion-row class="bg-dark">
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating"> C-MAX</ion-label>
              <ion-input  type="number" #carrot_max="ngModel" name="carrot_max" 
              [(ngModel)]="editModel.c_max" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="editForm.touched && !carrot_max.value">enter value</small>
          </ion-col>
        
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating">S-MAX</ion-label>
              <ion-input  type="number" #sugarcane_max="ngModel" name="sugarcane_max" 
              [(ngModel)]="editModel.s_max" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="editForm.touched && !sugarcane_max.value">enter value</small>
          </ion-col>
        </ion-row>

        <ion-row  class="bg-dark">
          <ion-col>
            <ion-item>
              <div  class="text-input mb-1">
              <ion-label color="primary" position="floating"> SLG-MAX</ion-label>
              <ion-input  type="number" #slg_max="ngModel" name="slg_max" 
              [(ngModel)]="editModel.slg_max" 
                autocomplete="off" required="true"  ></ion-input>
          </div>
            </ion-item>
            <small class="error text-danger" *ngIf="editForm.touched && !slg_max.value">enter value</small>
          </ion-col>
        </ion-row>
        <!-- end max setting -->
     
      

        <ion-col>
          <ion-row>
            <ion-button [disabled]="!editForm.valid" color="success" type="submit">SUBMIT</ion-button>
            <ion-button color="danger" (click)="cancelEdit()"  type="reset">CANCEL</ion-button>
          </ion-row>
        </ion-col>
    </form>
  </ion-card>
</div>


<!-- loading.. -->
<div *ngIf="loading" class="spinner">
  <!-- Circles -->
  <div class="loader"></div>
</div>
</ion-content>
