<ion-header>
  <ion-toolbar color="light">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center font-weight-bold">
      PENALTY
    </div>
  </ion-toolbar>
</ion-header>

<ion-content> 

 <ion-row>
   <ion-col size="4">
       
  <ion-item color="success">
   <ion-label>Month</ion-label> <ion-icon name="calendar"></ion-icon>
    <ion-datetime  [pickerOptions]="filter_Month_Year" displayFormat="MMMM YYYY"  [(ngModel)]="myDate" ></ion-datetime>
  </ion-item>
   </ion-col>
   <ion-col size="8">
    <form #dateform="ngForm"  (submit)=" submitDate(dateform)" class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()"
             type="button"><ion-icon name="apps"></ion-icon> </button>
            <ion-button color="success" [disabled]="!model"
             (click)="submitDate(dateform)" type="submit">
            <ion-icon name="search"></ion-icon></ion-button>
          </div>
        </div>
      </div>
    </form>
   </ion-col>
 </ion-row>


    <!-- search by name -->
<ion-card>
  <ion-row>
    <ion-item>
    <ion-input name="search" #search placeholder="search by name"  [(ngModel)]="searchModel.search"></ion-input> 
    <ion-button color="success" slot="end" size="medium" (click)="searchPenalty()" [disabled]="!search.value">
      <ion-icon name="search" size="large"></ion-icon>
    </ion-button> 
  </ion-item>
  </ion-row>
</ion-card>


    <!-- referesh -->
    <ion-refresher #refresherRef (ionRefresh)="doRefresh($event)" slot="fixed" >
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>

<ion-row>
  <ion-col size="12" size-lg="6" size-md="6" size-xs="12"
  size-sm="6" size-xl="6" *ngFor="let item of penalize; index as i">

    <ion-card  class="bg-dark text-white">
      <ion-chip outline color="light" class="font-weight-bold">{{i+1}} </ion-chip>
      <ion-row class="font-weight-bold">
       <ion-col>
        <div>{{item.name}} </div>
       </ion-col>
      <ion-col>
        <div class="pl-4"> {{item.amount | currency:'₦'}} </div>
      </ion-col>
      <ion-col>
        <div>{{item.created_at | date:'medium'}} </div>
       </ion-col>
      </ion-row>
      <ion-row>
        <div class="text-center font-weight-bold">{{item.reason}} </div> 
      </ion-row>
      <ion-row>
        <ion-col>
          <div>Admin </div>
          <div>{{item.admin}} </div>
        </ion-col>
        <ion-col>
          <div class="text-warning"> edited:{{item.edit}} </div>
        </ion-col>
        <ion-col>
          <h6 *ngIf="item.wave" class="text-success font-weight-bold"> WAVED </h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button color="medium">
          <ion-button  size="small"
           (click)="editRecord(item._id,item.user_id,item.amount,item.reason)"
           >EDIT</ion-button>
          <ion-button size="small" color="warning" *ngIf="userService.role == 'DIRECTOR'"
           size="small"(click)="waveRecord(item._id)" >WAVE</ion-button>
          <ion-button *ngIf="userService.role == 'DIRECTOR'"
           size="small" color="danger" size="small"(click)="deleteRecord(item._id)" >DELETE</ion-button>
           <ion-button [disabled]="userService.role !='DILIGENT'" *ngIf="!item.confirm"
           (click)="confirmPenalty(item._id)" size="small" color="light">ok</ion-button>
           <ion-button [disabled]="userService.role !='DILIGENT'"  *ngIf="item.confirm"
           (click)="unConfirmPenalty(item._id)" size="small" color="success">ok</ion-button>
           <ion-button [disabled]="userService.role !='DIRECTOR'" *ngIf="!item.verify"
           (click)="verifyPenalty(item._id)" size="small" color="light">verify</ion-button>
           <ion-button [disabled]="userService.role !='DIRECTOR'"  *ngIf="item.verify"
           (click)="unVerifyPenalty(item._id)" size="small" color="success">verified</ion-button>
        </ion-button>
 
      </ion-row>
      
  
    </ion-card>
  </ion-col>
</ion-row>


<ion-fab horizontal="start" vertical="bottom" slot="fixed">
  <ion-fab-button  color="light">
    <ion-icon name="alert"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
     <ion-button color="light" [routerLink]="['/tabs/penalty']">
     <div>penalty</div>
    </ion-button>
    <ion-button  color="light"  [routerLink]="['/tabs/salary_adv']">
      <div>salary advance</div>
    </ion-button>
  </ion-fab-list>
</ion-fab>

<!-- loading.. -->
<div *ngIf="loading" class="spinner">
  <div class="loader"></div>
</div>
</ion-content>
