<ion-header>
  <ion-toolbar color="light">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center font-weight-bold">
      PENALTY
    </div>
  </ion-toolbar>
</ion-header>

<ion-content> 

 <ion-row>
   <ion-col size="4">
       
  <ion-item color="dark">
    <ion-icon name="calendar"></ion-icon>
    <ion-datetime  [pickerOptions]="filter_Month_Year" displayFormat="MMMM YYYY"  [(ngModel)]="myDate" ></ion-datetime>
  </ion-item>
   </ion-col>
   <!-- <ion-col size="8">
    <form #dateform="ngForm"  (submit)=" submitDate(dateform)" class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()"
             type="button"><ion-icon name="apps"></ion-icon> </button>
            <ion-button color="success" [disabled]="!model"
             (click)="submitDate(dateform)" type="submit">
            <ion-icon name="search"></ion-icon></ion-button>
          </div>
        </div>
      </div>
    </form>
   </ion-col> -->
 </ion-row>


    <!-- search by name -->
<ion-card>
  <ion-row>
    <ion-item>
    <ion-input name="search" #search placeholder="search by name"  [(ngModel)]="searchModel.search"></ion-input> 
    <ion-button color="success" slot="end" size="medium" (click)="searchPenalty()" [disabled]="!search.value">
      <ion-icon name="search" size="large"></ion-icon>
    </ion-button> 
  </ion-item>
  </ion-row>
</ion-card>


    <!-- referesh -->
    <ion-refresher #refresherRef (ionRefresh)="doRefresh($event)" slot="fixed" >
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>

    <ion-scroll >
   

</ion-scroll>



<ion-row>
  <ion-col size="2">
    
  </ion-col>
  <ion-col size="10">
    <table class=" table table-striped table-responsive text-center">
      <thead>
        <tr>
          <th> #</th>
          <th>Names</th>
        
        </tr>
      </thead>
      <tbody *ngFor="let item of penalize; index as i">
        <tr>
          <td class=" text-dark">{{i + 1 }} </td>
          <td   [ngClass]="{'success-color-dark text-white': item?.hide}"  class="" (click)="viewPenalty(item)">
              <div class="font-weight-bold">{{item?.name}} </div> </td>
          <!-- <td  *ngIf="userService.getUserRole() === 'DIRECTOR'" >   <ion-icon (click)="hidePenalty(item)" name="flash-off"></ion-icon> </td> -->
        
        </tr>
     
      </tbody>
    </table>
  </ion-col>
</ion-row>


<ion-fab horizontal="start" vertical="bottom" slot="fixed">
  <ion-fab-button  color="light">
    <ion-icon name="alert"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
     <ion-button color="light" [routerLink]="['/tabs/penalty']">
     <div>penalty</div>
    </ion-button>
    <ion-button  color="light"  [routerLink]="['/tabs/salary_adv']">
      <div>salary advance</div>
    </ion-button>
  </ion-fab-list>
</ion-fab>

<!-- loading.. -->
<div *ngIf="loading" class="spinner">
  <div class="loader"></div>
</div>

</ion-content>
