<ion-header>
  <ion-button (click)="closeModal()" color="danger">
    <button >
      <ion-icon color="danger" name="close"></ion-icon>
    </button>
  </ion-button>
</ion-header>

<ion-content>
 
 
  <ion-card class="pt-5 aqua-gradient">
    <form #fruitform="ngForm"  (keydown.enter)="fruitform.valid && submitFruit()"  
    (submit)="fruitform.valid && submitFruit()">
      <ion-item color="light" >
       <ion-label class="text-center">SELECT PRODUCT</ion-label>
       <ion-select select="success"  #select="ngModel" interface="popover"
        (ngModelChange)="selectChange($event)" 
       [(ngModel)]="fruitModel.product" name="select">
         <ion-select-option  value="sugarcane">sugarcane</ion-select-option>
         <ion-select-option  value="tigernut">tigernut</ion-select-option>
         <ion-select-option  value="orange">orange</ion-select-option>
         <ion-select-option  value="pineapple">pineapple</ion-select-option>
         <ion-select-option  value="carrot">carrot</ion-select-option>
         <ion-select-option  value="watermelon">watermelon</ion-select-option>
         <ion-select-option  value="ginger">ginger</ion-select-option>
         <ion-select-option  value="lime">lime</ion-select-option>
       </ion-select>
     </ion-item>
     <small *ngIf="!fruitModel.product" class="text-white bg-danger text-center">product is required</small>
  
     <div class="d-flex justify-content-center">
      <img *ngIf="fruitModel.product == 'pineapple'"  src="../../../assets/fruits/pineapple.jpg" alt="pineapple" style="width:100px;">
      <img *ngIf="fruitModel.product == 'orange'" src="../../../assets/fruits/orange.jpg" alt="orange" style="width:100px;">
      <img *ngIf="fruitModel.product == 'carrot'" src="../../../assets/fruits/carottes.jpg" alt="carrot" style="width:100px;">
      <img *ngIf="fruitModel.product == 'sugarcane'" src="../../../assets/fruits/sugarcane.jpg" alt="sugarcane" style="width:100px;">
      <img *ngIf="fruitModel.product == 'tigernut'" src="../../../assets/fruits/tigernuts.PNG" alt="tigernut" style="width:100px;">
      <img *ngIf="fruitModel.product == 'watermelon'" src="../../../assets/fruits/watermelon.jpg" alt="watermelon" style="width:100px;">
      <img *ngIf="fruitModel.product == 'lime'" src="../../../assets/fruits/limes.jpg" alt="lime" style="width:100px;">
      <img *ngIf="fruitModel.product == 'ginger'" src="../../../assets/fruits/ginger.jpg" alt="ginger" style="width:100px;">
     </div>
    
     <!-- select size -->
     <ion-item color="light" >
      <ion-label class="text-center">SELECT SIZE</ion-label>
      <ion-select select="success"  #select="ngModel" interface="popover" (ngModelChange)="selectSize($event)" 
      [(ngModel)]="fruitModel.size" name="select">
        <ion-select-option  value="VERY BIG">VERY BIG</ion-select-option>
        <ion-select-option  value="BIG">BIG</ion-select-option>
        <ion-select-option  value="MEDIUM">MEDIUM</ion-select-option>
        <ion-select-option  value="SMALL">SMALL</ion-select-option>
        <ion-select-option  value="VERY SMALL">VERY SMALL</ion-select-option>
      </ion-select>
    </ion-item>
    <small *ngIf="!fruitModel.product" class="text-white bg-danger text-center">size is required</small>
  
     <!-- end select -->

       <ion-row>
     <ion-col>
      <ion-item color="light">
        <ion-input  type="text" #quantity="ngModel" name="quantity" 
        [(ngModel)]="fruitModel.quantity" placeholder="quantity" ></ion-input>
      </ion-item>
     </ion-col>
     <ion-col>
      <ion-item color="light">
        <ion-input  type="text" #buyer="ngModel" name="buyer" 
        [(ngModel)]="fruitModel.buyer" placeholder="buyer" ></ion-input>
      </ion-item>
     </ion-col>
     <ion-col>
      <ion-item color="light">
        <ion-input  type="text" #confirm_by="ngModel" name="confirm_by" 
        [(ngModel)]="fruitModel.confirmed_by" placeholder="coonfirm by" ></ion-input>
      </ion-item>
     </ion-col>
    </ion-row>
    <ion-row>
       <ion-col>
        <ion-item color="light">
          <ion-input  type="text" #damage="ngModel" name="damage" 
          [(ngModel)]="fruitModel.damage" placeholder="damage" ></ion-input>
        </ion-item>
       </ion-col>
       <ion-col>
        <ion-item color="light">
          <ion-input  type="number" #bottles="ngModel" name="bottles" 
          [(ngModel)]="fruitModel.bottles" placeholder="bottles produced"  ></ion-input>
        </ion-item>
       </ion-col>
       <ion-col>
        <ion-item color="light">
          <ion-input  type="number" #kg="ngModel" name="kg" 
          [(ngModel)]="fruitModel.kg" placeholder="kkilogram" ></ion-input>
        </ion-item>
       </ion-col>
    </ion-row>
    
     <ion-row>
      <ion-col>
        <ion-item color="light">
          <ion-input  type="number" #amount="ngModel" name="amount" 
          [(ngModel)]="fruitModel.amount" plceholder="amount"  required="true"></ion-input>
        </ion-item>
       </ion-col>
      <ion-col>
        <ion-item color="light">
          <ion-input  type="text" #supplier="ngModel" name="supplier" 
          [(ngModel)]="fruitModel.supplier" placeholder="supplier" ></ion-input>
        </ion-item>
       </ion-col>
       <ion-col>
        <ion-item color="light">
          <ion-input  type="text" #driver="ngModel" name="driver" 
          [(ngModel)]="fruitModel.driver" placeholder="driver" ></ion-input>
        </ion-item>
       </ion-col>
     </ion-row>
    <ion-row>
      <ion-col>
        <ion-item color="light">
          <ion-input  type="text" #remark="ngModel" name="assist_buyer" 
          [(ngModel)]="fruitModel.assist_buyer" placeholder="assist buyer"></ion-input>
        </ion-item>
       </ion-col>
      <ion-col>
        <ion-item color="light">
          <ion-input  type="text" #remark="ngModel" name="remark" 
          [(ngModel)]="fruitModel.remark" placeholder="remark" ></ion-input>
        </ion-item>
       </ion-col>
       <ion-col>
        <ion-item color="light">
          <ion-input  type="text" #paid_for="ngModel" name="paid_for" 
          [(ngModel)]="fruitModel.paid_for" placeholder="paid for"  ></ion-input>
        </ion-item>
       </ion-col>
    </ion-row>

   
    <ion-button type="submit" expand="full"
     [disabled]=" amount.value < 0 ||
      loading" color="success">submit</ion-button>
  </form>
  </ion-card>


  <!-- loading.. -->
<div *ngIf="loading" class="spinner">
  <div class="loader"></div>
</div>


</ion-content>
