<ion-header>
  <ion-toolbar color="light">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <div class="row d-flex justify-content-center font-weight-bold">
SETTINGS    </div>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-card color="light" class="mt-5">
  <ion-list inset="true" lines="inset">
    <ion-item>
     <div slot="start">USERNAME</div>
     <ion-label>{{mydetails?.username}}</ion-label>
   </ion-item>
    <ion-item>
     <div slot="start">PHONE</div>
     <ion-label>{{mydetails?.phone}}</ion-label>
   </ion-item>
    <ion-item>
     <div slot="start">ROLE</div>
     <ion-label>{{mydetails?.role}}</ion-label>
   </ion-item>
   <ion-item>
    <ion-icon slot="start" name="key"></ion-icon>
    <ion-button (click)="resetPassword()" fill="outline">CHANGE PASSWORD </ion-button>
   </ion-item>
</ion-list>
</ion-card>

    <!-- loading.. -->
    <div *ngIf="loading" class="spinner">
      <div class="loader"></div>
    </div>
</ion-content>
