<ion-header>
  <ion-toolbar color="dark">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <div class="row d-flex justify-content-center font-weight-bold">
SETTINGS    </div>
  </ion-toolbar>
</ion-header>

<ion-content>


 <ion-list class="p-5 mt-5 aqua-gradient text-white">
   <ion-list-header class="text-uppercase text-white"> USERNAME {{mydetails?.username}} </ion-list-header>
   <li>PHONE : {{mydetails?.phone}} </li>
   <li>ROLE : {{mydetails?.role}} </li>
   <ion-button (click)="resetPassword()">CHANGE PASSWORD </ion-button>
 </ion-list>


    <!-- loading.. -->
    <div *ngIf="loading" class="spinner">
      <div class="loader"></div>
    </div>
</ion-content>
