
<ion-tabs >
  <ion-tab-bar color="dark" slot="bottom">
    <ion-tab-button tab="distributions">
      <ion-icon name="list"></ion-icon>
      <ion-label>Distributions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expenses">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Expenses</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="staff-list">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Staff</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="penalty">
      <ion-icon name="cut"></ion-icon>
      <ion-label>Penalty</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fruit">
      <ion-icon name="nutrition"></ion-icon>
      <ion-label>Fruits</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

