<ion-header>
  <ion-toolbar color="light">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center font-weight-bold">
      EXPENSES
    </div>
  </ion-toolbar>
</ion-header> 

<ion-content color="light">

  <ion-toolbar>

    <ion-segment (ionChange)="segmentChanged($event)" scrollable value="heart">
      <ion-segment-button value="search">
        <ion-icon name="search"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="balance">
       <ion-chip outline><div>balance</div> </ion-chip>
      </ion-segment-button>
      <ion-segment-button value="add_expense" >
        <ion-chip (click)="addExpense()" outline> <div>add expense</div> </ion-chip>
      </ion-segment-button>
      <ion-segment-button value="add" >
        <ion-chip (click)="addBalance()" outline> <div>ADD  ₦</div> </ion-chip>
      </ion-segment-button>

      <ion-segment-button value="monthly-record" >
      <ion-item>
        <ion-chip outline><div> MONTHLY</div> </ion-chip>
        <ion-datetime  [pickerOptions]="filter_Month_Year" displayFormat="MMMM YYYY"  [(ngModel)]="myDate" ></ion-datetime>
      </ion-item>
      </ion-segment-button>

      <ion-segment-button value="calendar">
       <ion-chip  mode="ios" outline="true">
         <div>DAILY</div>
       </ion-chip>
      </ion-segment-button>
      <ion-segment-button value="return" >
        <ion-chip (click)="returnStock()" outline> <div>return</div> </ion-chip>
      </ion-segment-button>
      <ion-segment-button value="credit" >
        <ion-chip [routerLink]="['/tabs/credit']" outline> <div>credit list</div> </ion-chip>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


  <!-- <h6 class="
    text-center text-dark"> expense records</h6> -->
  <ion-row  *ngIf="segment=='balance'">
  <ion-badge *ngIf="balance > 10000"  color="success"><h5 class="font-weight-bold"> Balance : {{balance | currency:'₦'}}</h5> </ion-badge>
  <ion-badge *ngIf="balance < 10000"  color="danger"><h5  class="font-weight-bold"> Balance : {{balance  | currency:'₦'}}</h5> </ion-badge>
  </ion-row>
  <!-- <ion-chip  color="success" class="font-weight-bold" outline>{{lastCredit?.admin}} </ion-chip> -->
  <ion-badge color="primary" class="font-weight-bold" outline> {{lastCredit?.admin}} + {{lastCredit?.balance  | currency:'₦'}} </ion-badge>
  



  <div *ngIf="!showExpenseInput" >
  <div  class="pt-3">


  <ion-col *ngIf="segment=='calendar'" size="12">
    <form #dateform="ngForm"   (submit)=" submitDate(dateform)" class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control"  placeholder="YYYY-MM-DD"
                 name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <ion-button (click)="d.toggle()"
             ><ion-icon name="calendar"></ion-icon> </ion-button>
            <ion-button color="success" [disabled]="!model"
              type="submit">
            <ion-icon name="search"></ion-icon></ion-button>
          </div>
        </div>
      </div>
    </form>
  </ion-col>


<ion-col size="12">
  <ion-item *ngIf="segment=='search'">
  <ion-input name="search" #search placeholder="search expense"  [(ngModel)]="searchModel.search"></ion-input> 
  <ion-button  size="small" (click)="searchExpense()" [disabled]="!search.value">
    <ion-icon name="search" size="large"></ion-icon>
  </ion-button> 
</ion-item>
</ion-col>

 
<!-- 
<form #dateform="ngForm"  (submit)=" submitDate(dateform)" (keydown.enter)="submitDate(dateform)"
 class="card form-inline p-0 m-0">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="Calmodel" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()"
         type="button"><ion-icon name="apps"></ion-icon> </button>
        <button class="btn btn-success" [disabled]="!Calmodel"
         (click)="submitDate(dateform)" type="submit">
        <ion-icon name="search"></ion-icon></button>
      </div>
    </div>
  </div> 
</form> -->
<!-- end date -->

<ion-refresher #refresherRef (ionRefresh)="doRefresh($event)" slot="fixed" >
  <ion-refresher-content>
  </ion-refresher-content>
</ion-refresher>
<!-- search list -->
<!-- <ion-virtual-scroll [items]="items">
  <ion-item *virtualItem="let item">
    {{ item }}
  </ion-item>
</ion-virtual-scroll> -->

<ion-scroll>
<ion-row>
  <ion-col size="12" size-lg="6" size-md="6" size-xs="12"
  size-sm="6" size-xl="6" *ngFor="let item of expense; index as i">


  
    <ion-card 
      class="p-1 text-center font-weight-bold" 
     [ngClass]="{'primary-color-dark text-white': item.return}">
        <ion-row [ngClass]="{'success-color-dark text-white': !item.return}">
          <!-- here card -->
          <ion-col>
            <div class="text-white"> {{item.created_at | date:'medium'}}</div>
          </ion-col>
           <ion-col>
            <div class=" text-white font-weight-bold"><ion-icon name="person"></ion-icon> {{item.admin}} </div>
           </ion-col>
           <ion-col>
             
          <ion-button *ngIf="!item.return" class="ion-float-right" (click)="editExpense(item._id, item.description,item.product,
          item.amountPaid,item.receiver,item.information)"
           size="small" color="light"[disabled]="item.confirm || item.verified" >edit</ion-button>

           <ion-button *ngIf="item.return" class="ion-float-right" (click)="editReturn(item._id, item.description,item.product,
           item.amountPaid,item.receiver,item.information)"
            size="small" color="warning"[disabled]="item.confirm || item.verified" >edit</ion-button>
           </ion-col>
           <ion-col>
            <small class="text-warning">{{item.edit}}: EDIT </small>
           </ion-col>
        </ion-row>

        <ion-row >
          <ion-chip outline color="dark" class="font-weight-bold">{{i+1}}</ion-chip>
          <ion-col>
            <small class="">item</small>
            <div> {{item.product}} </div>
          </ion-col> 
          <ion-col>
            <small class="">Amount</small>
            <h6 class="font-weight-bold text-primary">  {{item.amountPaid  | currency:'₦'}} </h6>
          </ion-col> 
          <ion-col>
            <small *ngIf="!item.return" class="">Receiver</small>
            <small *ngIf="item.return" class="">Returnee</small>
            <div>  {{item.receiver}} </div>
          </ion-col>
        </ion-row>

        <ion-row >
          <ion-col>
            <div>{{item.information}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
        <small *ngIf="!item.verified" class="text-danger font-weight-bold">AWAITING VERIFICATION </small>
       
      </ion-row>
        <ion-row>
         <ion-col>
          <ion-button *ngIf="!item.verified" [disabled]="userService.getUserRole() !=='DIRECTOR'"
          (click)="verify(item._id)" size="small" color="light"> verify</ion-button>
         <ion-button *ngIf="item.verified" [disabled]="userService.getUserRole() !=='DIRECTOR'"
          (click)="disproveAlert(item._id)" size="small" color="success">
          verified
         </ion-button>
         </ion-col>
       
         <ion-col>
           <ion-button  (click)="UnokRecord(item._id)" size="small"
            *ngIf="item.confirm"  color="success">ok</ion-button>
          <ion-button *ngIf="!item.confirm"  [disabled]="userService.getUserRole() !=='DILIGENT'"
          (click)="okRecord(item._id)" size="small" color="light"> ok</ion-button>
      
         </ion-col>
        </ion-row>
    </ion-card>
  </ion-col>

</ion-row>
</ion-scroll>
  </div>
</div>
  
  

  <!-- add expense -->
  <ion-grid class="pt-3">
  <ion-card  *ngIf="showExpenseInput" class="pt-5 ">
    <form #expense="ngForm" (keydown.enter)="expense.valid && submitExpense(expense)"
     (submit)="expense.valid && submitExpense(expense)">
      <!--  form data -->
      <h6 class="text-center font-weight-bold"> REGISTER EXPENSE</h6>
      <ion-row>
        <ion-col>
          <ion-item >
            <ion-label color="primary" position="floating">Receiver</ion-label>
            <ion-input  type="text" #receiver="ngModel" name="receiver" 
            [(ngModel)]="expenseModel.receiver" required="true"></ion-input>
          </ion-item>
      <small class="text-danger" *ngIf="expense.submitted && !amount.value">receiver is required</small>
        </ion-col>
        <ion-col>
          <ion-item >
            <div  class="text-input mb-1">
            <ion-label color="primary" position="floating">Description</ion-label>
            <ion-input  type="text" #description="ngModel" name="description" 
            [(ngModel)]="expenseModel.description"
              autocomplete="off" required="true"></ion-input>
        </div>
          </ion-item>
          <small class="error" *ngIf="expense.submitted && !description.value"> description is required</small>
    
        </ion-col>
      </ion-row>
     
      <ion-row >
        <ion-col>
          <ion-item >
            <ion-label color="primary" position="floating">Item</ion-label>
            <ion-input  type="text" #product="ngModel" name="product" 
            [(ngModel)]="expenseModel.product" required="true"></ion-input>
          </ion-item>
      <small class="text-danger" *ngIf="expense.submitted && !product.value">item is required</small>
        </ion-col>

        <ion-col>
          <ion-item >
            <ion-label color="primary" position="floating">Amount</ion-label>
            <ion-input  type="number" #amount="ngModel" name="amount" 
            [(ngModel)]="expenseModel.amountPaid" required="true"></ion-input>
          </ion-item>
      <small class="text-danger" *ngIf="expense.submitted && !amount.value">amount is required</small>
        </ion-col>
      </ion-row>
        <ion-col>
          
          <ion-item >
            <ion-label color="primary" position="floating">additional information</ion-label>
            <ion-input rows="2" cols="100" class="m-0 p-0" type="text" #information name="information"
            clearInput [(ngModel)]="expenseModel.information" 
                 ></ion-input>
          </ion-item>
      <small class="text-danger" *ngIf="expense.submitted && !information.value"> information is required!</small>
</ion-col>
      <!-- end form data -->
        <div class="ion-text-center">
          <ion-button type="submit" class="mt-3" fill="outline" [disabled]="amount.value < 0"
          color="primary"> SUBMIT </ion-button>
        </div>
     

    </form>
  </ion-card>
</ion-grid>

<!-- loading.. -->
<div *ngIf="loading" class="spinner">
  <div class="loader"></div>
</div>




<ion-fab *ngIf="showExpenseInput" (click)="cancelForm()"  vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button   color="danger">
    <ion-icon  name="close"></ion-icon>
  </ion-fab-button>
</ion-fab>



</ion-content>
