<ion-header>
  <ion-toolbar color="dark">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center font-weight-bold">
      EXPENSES
    </div>
  </ion-toolbar>
</ion-header> 

<ion-content>

  <ion-fab 
  vertical="bottom" horizontal="end" slot="fixed">
 <ion-fab-button (click)="doRefresh($event)"   color="primary">
   <ion-icon  name="refresh"></ion-icon>
 </ion-fab-button>
 </ion-fab>
  <!-- <h6 class="text-center text-dark"> expense records</h6> -->
  <ion-row>
  <ion-badge *ngIf="balance > 10000"  color="success"><h5 class="font-weight-bold"> Balance : {{balance | currency:'₦'}}</h5> </ion-badge>
  <ion-badge *ngIf="balance < 10000"  color="danger"><h5  class="font-weight-bold"> Balance : {{balance  | currency:'₦'}}</h5> </ion-badge>
    <ion-button
    color="success" (click)="addBalance()">ADD  ₦ </ion-button>
  </ion-row>
  <ion-chip  color="dark" class="font-weight-bold" outline>{{lastCredit?.admin}} </ion-chip>
  <ion-chip color="dark" class="font-weight-bold" outline>{{lastCredit?.balance  | currency:'₦'}} </ion-chip>
  


  <div *ngIf="!showExpenseInput" >
  <div  class="pt-3">
 
<ion-card color="light">
  <ion-item color="dark">
    <ion-label  class="ion-text-center font-weight-bold">PICK A MONTH</ion-label>
    <ion-datetime  [pickerOptions]="filter_Month_Year" displayFormat="MMMM YYYY"  [(ngModel)]="myDate" ></ion-datetime>
  </ion-item>
</ion-card>

<!-- search -->
<ion-row>
  <ion-col size="12">
    <form #dateform="ngForm"   (submit)=" submitDate(dateform)" class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control"  placeholder="YYYY-MM-DD"
                 name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()"
             type="button"><ion-icon name="apps"></ion-icon> </button>
            <ion-button color="success" [disabled]="!model"
             (click)="submitDate(dateform)" type="submit">
            <ion-icon name="search"></ion-icon></ion-button>
          </div>
        </div>
      </div>
    </form>
  </ion-col>
  <ion-col size="12">
    <ion-card class="p-0 m-0 " color="light">
      <ion-row class="p-0 m-0">
        <ion-item>
        <ion-input name="search" #search placeholder="search expense"  [(ngModel)]="searchModel.search"></ion-input> 
        <ion-button color="success" size="medium" (click)="searchExpense()" [disabled]="!search.value">
          <ion-icon name="search" size="large"></ion-icon>
        </ion-button> 
      </ion-item>
      </ion-row>
    </ion-card>
  
  </ion-col>
</ion-row>

 
<!-- 
<form #dateform="ngForm"  (submit)=" submitDate(dateform)" (keydown.enter)="submitDate(dateform)"
 class="card form-inline p-0 m-0">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="Calmodel" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()"
         type="button"><ion-icon name="apps"></ion-icon> </button>
        <button class="btn btn-success" [disabled]="!Calmodel"
         (click)="submitDate(dateform)" type="submit">
        <ion-icon name="search"></ion-icon></button>
      </div>
    </div>
  </div> 
</form> -->
<!-- end date -->

<ion-refresher #refresherRef (ionRefresh)="doRefresh($event)" slot="fixed" >
  <ion-refresher-content>
  </ion-refresher-content>
</ion-refresher>
<!-- search list -->



<ion-row>
  <ion-col size="12" size-lg="6" size-md="6" size-xs="12"
  size-sm="6" size-xl="6" *ngFor="let item of expense; index as i">
    <ion-card 
     color="light" class="p-1 text-center font-weight-bold" 
     [ngClass]="{'primary-color-dark text-white': item.return}">
        <ion-row [ngClass]="{'success-color-dark text-white': !item.return}">
          <!-- here card -->
          <ion-col>
            <div class="text-white"> {{item.created_at | date:'medium'}}</div>
          </ion-col>
           <ion-col>
            <div class=" text-white font-weight-bold"><ion-icon name="person"></ion-icon> {{item.admin}} </div>
           </ion-col>
           <ion-col>
             
          <ion-button class="ion-float-right" (click)="editExpense(item._id, item.description,item.product,
          item.amountPaid,item.receiver,item.information)"
           size="small" color="light"[disabled]="item.confirm || item.verified" >edit</ion-button>
           </ion-col>
           <ion-col>
            <small class="text-warning">{{item.edit}}: EDIT </small>
           </ion-col>
        </ion-row>

        <ion-row >
          <ion-chip outline color="dark" class="font-weight-bold">{{i+1}}</ion-chip>
          <ion-col>
            <small class="">item</small>
            <div> {{item.product}} </div>
          </ion-col> 
          <ion-col>
            <small class="">Amount</small>
            <h6 class="font-weight-bold text-primary">  {{item.amountPaid  | currency:'₦'}} </h6>
          </ion-col> 
          <ion-col>
            <small *ngIf="!item.return" class="">Receiver</small>
            <small *ngIf="item.return" class="">Returnee</small>
            <div>  {{item.receiver}} </div>
          </ion-col>
        </ion-row>

        <ion-row >
          <ion-col>
            <div>{{item.information}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
        <small *ngIf="!item.verified" class="text-danger font-weight-bold">AWAITING VERIFICATION </small>
       
      </ion-row>
        <ion-row>
         <ion-col>
          <ion-button *ngIf="!item.verified" [disabled]="userService.getUserRole() !=='DIRECTOR'"
          (click)="verify(item._id)" size="small" color="light"> verify</ion-button>
         <ion-button *ngIf="item.verified" [disabled]="userService.getUserRole() !=='DIRECTOR'"
          (click)="disproveAlert(item._id)" size="small" color="success">
          verified
         </ion-button>
         </ion-col>
       
         <ion-col>
           <ion-button  (click)="UnokRecord(item._id)" size="small"
            *ngIf="item.confirm"  color="success">ok</ion-button>
          <ion-button *ngIf="!item.confirm"  [disabled]="userService.getUserRole() !=='DILIGENT'"
          (click)="okRecord(item._id)" size="small" color="light"> ok</ion-button>
      
         </ion-col>
        </ion-row>
    </ion-card>
  </ion-col>

</ion-row>
  </div>
</div>
  
  

  <!-- add expense -->
  <div class="pt-5">
  <ion-card *ngIf="showExpenseInput" class="pt-5 success-color-dark">
    <form #expense="ngForm" (keydown.enter)="expense.valid && submitExpense(expense)"
     (submit)="expense.valid && submitExpense(expense)">
      <!--  form data -->
      <ion-row>
        <ion-col>
          <ion-item class="bg-dark">
            <ion-label position="floating">Receiver</ion-label>
            <ion-input  type="text" #receiver="ngModel" name="receiver" 
            [(ngModel)]="expenseModel.receiver" required="true"></ion-input>
          </ion-item>
      <small class="text-danger" *ngIf="expense.submitted && !amount.value">receiver is required</small>
        </ion-col>
        <ion-col>
          <ion-item class="bg-dark">
            <div  class="text-input mb-1">
            <ion-label position="floating">Description</ion-label>
            <ion-input  type="text" #description="ngModel" name="description" 
            [(ngModel)]="expenseModel.description"
              autocomplete="off" required="true"></ion-input>
        </div>
          </ion-item>
          <small class="error" *ngIf="expense.submitted && !description.value"> description is required</small>
    
        </ion-col>
      </ion-row>
     
      <ion-row >
        <ion-col>
          <ion-item class="bg-dark">
            <ion-label position="floating">Item</ion-label>
            <ion-input  type="text" #product="ngModel" name="product" 
            [(ngModel)]="expenseModel.product" required="true"></ion-input>
          </ion-item>
      <small class="text-danger" *ngIf="expense.submitted && !product.value">item is required</small>
        </ion-col>

        <ion-col>
          <ion-item class="bg-dark">
            <ion-label position="floating">Amount</ion-label>
            <ion-input  type="number" #amount="ngModel" name="amount" 
            [(ngModel)]="expenseModel.amountPaid" required="true"></ion-input>
          </ion-item>
      <small class="text-danger" *ngIf="expense.submitted && !amount.value">amount is required</small>
        </ion-col>
      </ion-row>
        <ion-col>
          
          <ion-item class="bg-dark">
            <textarea rows="2" cols="60" class="m-0 p-0" type="text" #information name="information"
            clearInput [(ngModel)]="expenseModel.information" placeholder="additional information"
                required ></textarea>
          </ion-item>
      <small class="text-danger" *ngIf="expense.submitted && !information.value"> information is required!</small>
</ion-col>
      <!-- end form data -->
        <div class="d-flex justify-content-center">
          <ion-button type="submit" class="mt-3" [disabled]="amount.value < 0"
          color="success"> SUBMIT EXPENSE</ion-button>
        </div>
     
    </form>
  </ion-card>
</div>

<!-- loading.. -->
<div *ngIf="loading" class="spinner">
  <div class="loader"></div>
</div>




<ion-fab *ngIf="showExpenseInput" (click)="cancelForm()"  vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button   color="danger">
    <ion-icon  name="close"></ion-icon>
  </ion-fab-button>
</ion-fab>



<ion-fab horizontal="start" vertical="bottom" slot="fixed">
  <ion-fab-button  color="light">
    <ion-icon name="alert"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
     <ion-button color="light" [routerLink]="['/credit']">
     <div>CREDIT RECORD</div>
    </ion-button>
     <ion-button color="light" (click)="returnStock()">
     <div>RETURN</div>
    </ion-button>
    <ion-button  color="light"  (click)="addExpense()">
      <div>ADD EXPENSE</div>
    </ion-button>
  </ion-fab-list>
</ion-fab>
</ion-content>
