<ion-header>
  <ion-toolbar color="dark">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center font-weight-bold">
      CREDIT LIST
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-fab [routerLink]="['/expenses']"   vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button   color="danger">
      <ion-icon  name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <!-- referesh -->
  <ion-refresher #refresherRef (ionRefresh)="doRefresh($event)" slot="fixed" >
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class=" date ion-padding" color="light">
    <ion-item color="dark">
      <ion-label  class="ion-text-center font-weight-bold">PICK A MONTH</ion-label>
      <ion-datetime  [pickerOptions]="filter_Month_Year" displayFormat="MMMM YYYY"  [(ngModel)]="myDate" ></ion-datetime>
    </ion-item>
  </ion-card>

  <div class="ion-text-center font-weight-bold">
    <ion-chip> MONTHLY TOTAL : {{totalCredit | currency:'₦'}} </ion-chip>
  </div>
  <!-- credit list  -->
  <div class="ion-padding">
  <ion-card  *ngFor="let item of credit" class="text-center font-weight-bold ">
    <div class="blue-gradient text-white">{{item.created_at | date:'short'}} </div>
   
   <ion-row>
     <ion-col>
      <h6>{{item.admin}} </h6>
     </ion-col>
     <ion-col>
      <h6>  {{item.balance | currency:'₦'}} </h6>
     </ion-col>
    
    <ion-col >
      <ion-button color="light"  [disabled]="userService.getUserRole() != 'DIRECTOR'">
        <ion-icon size="large"
       (click)="delete(item._id)" color="danger" name="trash"></ion-icon>
      </ion-button>
      
    </ion-col>
   </ion-row>
  </ion-card>
</div>

  <!-- loading.. -->
<div *ngIf="loading" class="spinner">
  <div class="loader"></div>
</div>
</ion-content>
