<ion-header>
  <ion-toolbar color="light">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center font-weight-bold">
      MERCHANDISERS
    </div>
  </ion-toolbar>
</ion-header>
 
      <!-- loading -->
      <!-- <div *ngIf="loading" class="spinner">
        <div class="loader"></div>
      </div> -->
      
<ion-content>

  <ion-row>
    <ion-col size="4">
      <ion-item color="dark">
        <div  class="ion-text-center font-weight-bold">Monthly</div>
        <ion-datetime  [pickerOptions]="filter_Month_Year" displayFormat="MMMM YYYY"  [(ngModel)]="myDate" > </ion-datetime>
      </ion-item>
    </ion-col>

    <ion-col size="8">
      <form #dateform="ngForm"   (submit)=" submitDate(dateform)" class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control"  placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()"
             type="button"><ion-icon name="apps"></ion-icon> </button>
            <ion-button class="primary" [disabled]="!model"
             (click)="submitDate(dateform)" type="submit">
            <ion-icon name="search"></ion-icon></ion-button>
          </div>
        </div>
      </div>
    </form>
    </ion-col>
  </ion-row>
   


  <ion-fab 
  vertical="bottom" horizontal="end" slot="fixed">
 <ion-fab-button (click)="doRefresh($event)"   color="primary">
   <ion-icon  name="refresh"></ion-icon>
 </ion-fab-button>
 </ion-fab>

    <!-- referesh -->
    <ion-refresher #refresherRef (ionRefresh)="doRefresh($event)" slot="fixed" >
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>


  <div >
    





<ion-virtual-scroll [items]="salesRecord" approxItemHeight="320px">
 <ion-card *virtualItem="let item; let itemBounds = bounds;" class="blue-gradient text-white">
  <ion-row>
    <ion-col>
      <div  class="font-weight-bold">Merchant:  {{item.merchantName}} </div>
    </ion-col>
     <ion-col>
      <div  class="font-weight-bold"> {{item.outletCode}} </div>
    </ion-col>
     <ion-col>
      <small> {{item.created_at | date:'medium'}} </small>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h6>bottle(s):{{item.bottles}} </h6>
    </ion-col>
      <ion-col>
      <small>attendant:{{item.attendant}}</small>
    </ion-col>
      <ion-col>
      <small >admin:{{item.admin}}</small>
    </ion-col>
      <ion-col>
      <h6 class="font-weight-bold" *ngIf="userService.getUserRole() 
      == 'DIRECTOR'"> ₦{{item.amountSold | number}}</h6>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button  *ngIf="!item.confirm" [disabled]="userService.getUserRole() != 'DILIGENT'"
       size="small" color="light" (click)="clickOk(item._id)">ok</ion-button>
      <ion-button 
       *ngIf="item.confirm" size="small" color="success">ok</ion-button>
    </ion-col>
     <ion-col>
      <ion-button  *ngIf="!item.verify"  [disabled]="userService.getUserRole() != 'DIRECTOR'" size="small" 
      color="light" (click)="clickVerify(item._id)">verify</ion-button>
      <ion-button [disabled]="userService.getUserRole() != 'DIRECTOR'"
       *ngIf="item.verify"(click)="disprove(item._id)"  size="small" color="success">verified</ion-button>
      
    </ion-col>
     <ion-col>
      <ion-button [disabled]="userService.getUserRole() != 'DIRECTOR'" 
       size="small" color="danger" (click)="delete(item._id)">delete</ion-button>
    </ion-col>

  </ion-row>
</ion-card> 
</ion-virtual-scroll>


</div>

 <ion-fab horizontal="start" vertical="bottom" slot="fixed">
  <ion-fab-button color="light">
    <ion-icon name="alert"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-button color="light" [routerLink]="['/tabs/view-outlet-sales']">
      <a class=" " ><ion-icon name="cube"></ion-icon>VIEW OUTLET SALES </a>
    </ion-button>
    <ion-button color="light"  [routerLink]="['/tabs/view-merchant-sales']">
      <a class=" " ><ion-icon name="arrow-dropdown-circle"></ion-icon>VIEW MERCHANT SALES </a>
    </ion-button>
    <ion-button color="light" (click)="merchantModal()"> 
      <a class=" " ><ion-icon name="chatbubbles"></ion-icon>ENTER SALES </a>
    </ion-button>
    <!-- <ion-button *ngIf="!products?.open_p" color="medium" [routerLink]="['/production']">
      <a class="info text-white" > <ion-icon name="list"></ion-icon>Submit Production </a>
    </ion-button> -->
  </ion-fab-list>
</ion-fab>

    <!-- loading.. -->
    <div *ngIf="loading" class="spinner">
      <div class="loader"></div>
    </div>



   

 
</ion-content>
