<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center font-weight-bold">
      PENALTY
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- referesh -->
    <ion-refresher #refresherRef (ionRefresh)="doRefresh($event)" slot="fixed" >
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>

  <ion-card *ngFor="let item of penalize" class="bg-dark text-white">
    <ion-row class="font-weight-bold">
     <ion-col>
      <p>{{item.fullname}} </p>
     </ion-col>
    <ion-col>
      <p class="pl-4">₦ {{item.penalty}} </p>
    </ion-col>
    </ion-row>
    <p>{{item.offence}} </p>
  </ion-card>

    <!-- loading.. -->
<div *ngIf="loading" class="spinner">
  <div class="loader"></div>
</div>

</ion-content>
